.customCenterDiv {
  background-color: black;
  color: rgb(214, 5, 5);
  border-radius: 10px;
  width: 20%;
  top: 50%;
  left: 50%;
  position: absolute;
  padding: 10px;
  text-align: center;
  transform: translate(-50%, -50%);
}