.customCenterDiv {
  text-align: center;
  background-color: black;
  color: rgb(214, 5, 5);
  
  width: 20%;
  border-radius: 10px;
  padding: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}