* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: papayawhip;
    color: darkblue;
    min-height: 100vh;
}

p {
    color: rgba(0, 0, 255, 0.71);
    /*width: 30ch;*/
    width: 50%;
    border: 2px black solid;
    font-size: 1rem;
    padding: 0.5em;
}

h1 {
    font-size: 1.5rem;
    padding: 0.5em;
    border: .05em black dashed;
    width: 50%;
    margin-bottom: 1em;
}